@import 'rupture'

#title
    cursor pointer
    position relative
    margin-left auto
    margin-right auto

    a
        color inherit

.smaller
    display inline
    margin-left 80%
    font-size 0.7em

.main-container
    position absolute
    text-align center

.subjects-container
    width 40% !important
    display block
    margin-right 0 !important
    margin-left -10%

    input[type=radio]
        display: none

        + label
            cursor pointer
            -webkit-transition color .2s ease-in
            -moz-transition color .2s ease-in
            -ms-transition color .2s ease-in
            -o-transition color .2s ease-in
            transition color .2s ease-in

        &:checked + label
            color #e74c3c

            &::before
                content: ''
                width: 100%
                display inline-block
                border-bottom 2px solid #c0392b
                float left
                position relative
                top calc(1em + 12px)
                z-index -1

    input[type=radio] + label
        font-family Lato, sans-serif
        font-size 1.5em
        letter-spacing 1px
        font-weight 300
        padding 5px
        margin-top 5px
        margin-bottom 5px

        &:hover
            color #e74c3c


    .subject
        width 100% !important
        display block


.tests-container
    display inline-block !important
